# python
**/__pycache__/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath
.vscode/

# Branch switching
generated/

# Mac OS
*.DS_Store
