spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}
  cloud:
    gateway:
      forwarded:
        enabled: false
      x-forwarded:
        enabled: false

eureka:
  instance:
    preferIpAddress: true
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER_URL:http://localhost:8761/eureka}

server:
  error:
    include-message: always

logging:
  pattern:
    level: trace_id=%mdc{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %5p

# Add AWS RUM configuration
aws:
  region: ${RUM_ENDPOINT_REGION:us-east-1}
  rum:
    monitor:
      id: ${APP_MONITOR_ID:default-monitor-id}
      identity-pool-id: ${APP_MONITOR_IDENTITY_POOL_ID:default-identity-pool-id}

---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888

---
# Prod profile
spring:
  config:
    activate:
      on-profile: ecs

eureka:
  instance:
    ipAddress: ${API_GATEWAY_IP:api-gateway}

---
# EC2 profile
spring:
  config:
    activate:
      on-profile: ec2

eureka:
  instance:
    hostName: ${API_GATEWAY_IP:http://pet-clinic-frontend.demo.local}
