# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yaml
    kompose.version: 1.31.2 (HEAD)
  labels:
    io.kompose.service: db
  name: db
spec:
  ports:
    - port: 5432
  selector:
    io.kompose.service: db
status:
  loadBalancer: {}

