<h2>Payment</h2>

<form ng-submit="$ctrl.submit()">

    <div class="form-group">
        <label>Amount ($)</label>
        <input type="number" class="form-control" ng-model='$ctrl.amount' min="1" value="10" max="100000" required/>
    </div>

    <div class="form-group">
        <label>Notes</label>
        <textarea class="form-control" ng-model="$ctrl.notes" style="resize:vertical;" ></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Add New Payment</button>
    </div>

</form>